.background {

    background-color: #434a50 !important;

}

.clickable {
    cursor: pointer;

}

.bold {

    font-weight: bold !important;
}


.outline,
th {
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;

}

.outline2 {
    text-decoration: none;
    text-shadow: -0.8px -0.8px 0 #FFF, 0.8px -0.8px 0 #FFF, -0.8px 0.8px 0 #FFF, 0.8px 0.8px 0 #FFF;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;


}

i {

    margin-left: 5px;
}

.jonny {

    content: url("./assets/jonny.png");
    width: 20px;
}


@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css");